

.container-projects{
    background-color: #ffe7eb;
    /* margin-bottom: 25px; */
    padding-bottom: 30px;
}

.project-title-h2{
    text-align: center;
    margin-bottom: 1.88em;
    padding-top: 0.5em;
    font-size: 50px;
    color: #9D8189;
    font-family: 'Happy Monkey', cursive;
}

.list-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;
}

.card-projects p{
    width: 270px;
    padding: 5px;
    text-align: justify;
}

.card-projects h3{
    padding: 8px;
}

@media (max-width: 360px){
    .container-projects{
        margin-top: 280px;
    }

    .project-title-h2{
        font-size: 43px;
        margin-bottom: 0.5em;
    }

    .card-projects{
        margin: 20px 50px;
    }
}